BOT_TOKEN=8482013081:AAGUW7huvwFvMC8VJWwC45JhZa_ES2bDiqE
GROUP_CHAT_ID=-4977476914

BACKEND_API_URL=http://172.31.34.101:5000

MYSQL_HOST=employee-attendance-db.cncigsyi891k.ap-south-1.rds.amazonaws.com
MYSQL_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=Nagasaipriacc
MYSQL_DATABASE=employee_attendance_db

TIMEZONE=Asia/Kolkata
WORK_START_HOUR=9
WORK_END_HOUR=18
GRACE_PERIOD_MINUTES=5
